.box{
    width: 400px;
    min-height: 100px;
    border-radius: 5px;
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #F8A500;
    list-style: none;
}